:root {
    --main_color: #009aad;
    --additional_color: white;
    --background_menu_color: black;

    --header_height: 7vh;
    --font_size_nav_multi: 1;

    --IC_logo_width: 3.5vw;
    --IC_logo_ml: 2vw;
    --IC_logo_height: 4.5vh;
    --IC_logo_font_size: min(3vh, 3vw);
    --IC_logo_border_radius: min(2vh, 1vw);
    --IC_logo_border_width: max(1px, 0.2vw);

    --IC_logo_title_font_size: min(3vh, 3vw);
    --IC_logo_title_ml: 1.5vw;

    --header_right_content_gap: max(5%,2vw);
    --header_right_content_mr: 2.5vw;
    --header_right_content_font_size: min(2vh, 3vw);
}
.header_menu {
    height: var(--header_height);
    width: 100vw;
    background-color: var(--background_menu_color);
    display: flex;
    align-items: center;
    border-bottom: var(--main_color) solid 3px
}

.IC_title {
    font-family: "Inconsolata";
    font-style: normal;
    font-weight: 700;
    color: var(--main_color)
}


.IC_title {
    margin-left: var(--IC_logo_title_ml);
    font-size: var(--IC_logo_title_font_size);
    line-height: 42px;
    text-align: center;
    flex: initial;
    color: var(--main_color);
}

.header_right {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: right;
    flex: 1
}

.header_right_content {
    font-family: "Comfortaa";
    font-style: normal;
    font-weight: 400;
    font-size: var(--header_right_content_font_size);
    line-height: 28px;
    color: var(--additional_color);
    margin-right: var(--header_right_content_mr)
}

.header_right_content a:first-child {
    padding-right: var(--header_right_content_gap)
}