.input_container {
    position: relative;
    width: 300px;
}

.input_container input[type="text"] {
    padding: 0.8em 0.45em 0.45em 1.85em;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border: none;
}

.input_container input[type="text"]:focus {
    outline: none;
}

.input_container label {
    position: absolute;
    top: 30%;
    left: 1em;
    pointer-events: none;
    transition: 0.35s ease all;
    color: #999;
}



.input_container label.active {
    top: 0.3em;
    left: 2.5em;
    font-size: 0.5em;
    color: rgb(151, 151, 151); 
}