.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pageNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    border-radius: 4px;
    background-color: #eaeaea;
    color: #333;
    cursor: pointer;
    cursor: pointer;
}

.pageNumber.active {
    background-color: #333;
    color: #fff;
}